@using ETicaretApp.EntitiesLayer.Concrete
@using ETicaretApp.DAL.Concrete
@using ETicaretApp.Controllers
@model List<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top: 20px">
    

    <tr>
        <th>ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>

    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.CategoryId
                
            </td>
            <td>
                @k.CategoryName

            </td>
            <td><a href="/Category/CategoryRemove/@k.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/CategoryUpdate/@k.CategoryId" class="btn btn-warning">Güncelle</a></td>

        </tr>
    }

</table>

<a href="/Category/CategoryAdd" class="btn btn-success">Kategori Ekle</a>
